.color1 {
  background: #ffd700;
}
.color1 p {
  color: #639;
}
.color1 p:nth-child(odd) {
  color: #ff69b4;
}
.reee {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
